<ion-header>
  <ion-toolbar color="success">
    <ion-title class="font">RandomList</ion-title>

    <ion-buttons slot="end">
      <ion-button
        (click)="info()"
        shape="round"
      >
        <ion-icon
          slot="icon-only"
          name="information-circle-outline"
        ></ion-icon>
      </ion-button>

      <ion-button
        (click)="borrar()"
        shape="round"
      >
        <ion-icon
          slot="icon-only"
          name="trash"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="font">
    <ion-card class="center">
      <ion-text
        color="primary"
        class="resultado"
      >
        <h1><b>{{palabra}}</b></h1>
      </ion-text>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title
          color="primary"
          class="font"
        >
          <b>Agregar Palabras</b>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text
          color="primary"
          class="font fontSize"
        >
          Escribe palabras separadas por comas:
        </ion-text>

        <ion-textarea
          class="area fontSize"
          [(ngModel)]="lista"
          auto-grow="true"
        ></ion-textarea>

        <div class="botonR">
          <ion-button
          class="font"
            (click)="randomElement()"
            fill="outline"
            shape="round"
            color="success"
          >Play</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="primary" class="font fontSize">Duración (Segundos): {{seg}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-range
              [(ngModel)]="seg"
              dualKnobs="false"
              min="1"
              max="10"
              step="1"
              pin="true"
              snaps="true"
              ticks="true"
            ></ion-range>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-list>
      <ion-item
        lines="none"
        (click)="ejemplosOpciones()"
        detail="detail"
      >
        <ion-label color="primary" class="font fontSize">Ejemplos</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>